[user]
  name = Kyle Colantonio
  email = Kyle.Colantonio@ibm.com
  username = kyle-boxboat
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINwaVbBqc6ZyvIm7/BhRLnFVbWb4i4r9pgZqAUJoJaIL
[core]
  editor = code --wait
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
[protocol]
  version = 2
[color]
  ui = true
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
[diff]
  tool = default-code
[difftool]
  prompt = false
[difftool "default-code"]
  cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
  gpgsign = true