[user]
  name = Kyle Colantonio
  email = Kyle.Colantonio@ibm.com
  username = kyle-boxboat
  signkey = D32D8D63E99D5E830D22F54368D2F2DEC4C92964
[core]
  editor = code --wait
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
[color]
  ui = true
[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
[diff]
  tool = default-code
[difftool]
  prompt = false
[difftool "default-code"]
  cmd = code --wait --diff $LOCAL $REMOTE
[gpg]
  program = gpg2
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[commit]
  gpgsign = true
